@{
    ViewData["Title"] = "Login Failure";
}

<h1>Login Failed</h1>
<p>Unfortunately, your login attempt was not successful. Please check your username and password and try again.</p>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to Login</a>
</div>
