@{
    ViewData["Title"] = "Login Failure";
}

<h2>Login Failure</h2>

<p>We're sorry, but the login attempt was not successful. Please check your username and password and try again.</p>

<div>
    <a asp-action="Index" asp-controller="Login">Back to Login</a>
</div>
