@model BibleSearchApp.ViewModels.PagedSearchResultsViewModel

@{
    ViewData["Title"] = "Reference Search Results";
}

@section Styles {
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
}

<div class="container">
    @await Html.PartialAsync("_SearchResultsPartial", Model)
</div>
